{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.8.0"},
  {kc, {git, "git://github.com/ctxhaard/erlkeychain", {branch, "master"}}}
  ]}.

{shell, [
   {config, "config/sys.config"},
    {apps, [
      kc
    ]}
]}.

{relx, [{release, { wskc, "0.1.0"}, [cowboay,kc,sasl]},
  {mode, prod}
]}.

{edoc_opts, [{preprocess, true}]}.
