{erl_opts, [debug_info]}.
{deps, [
  {cecho, {git, "git@github.com:mazenharake/cecho.git", {tag, "0.5.3"}}}
  ]}.

{shell, [
   {config, "config/sys.config"},
    {apps, [
      kc
    ]}
]}.

{relx, [{release, { keychain, "0.1.0"}, [cecho,kc,sasl]},
  {mode, prod}
]}.

{edoc_opts, [{preprocess, true}]}.
